.badge{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-weight: 600;
    color: white;
    background-color: var(--red);
    border-radius: 10px;
}
.badge--lg{
    font-size: 10px;
    width: 17px;
    height: 17px;
}
.red-badge{
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: var(--red);
}
