/* nav CSS */
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(87, 85, 85, 0.2);
    background-color:#F9F9FA;
    padding: 19px 50px;
}
.nav__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__link{
    position: relative;
    color:#2F363E;
}
.nav__notification{
    position: absolute;
    left: 20px;
    bottom: 18px;
}
.nav__notifications{
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: var(--red);
    top: -12px;
    right: -5px;
}

