/* Screen-header CSS */
.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    margin-bottom: 26px;
}
.screen-header__title {
    font-weight: 600;
    font-size:35px;
}
.screen-header__icon--top{
    position:absolute;
    top: -8px;
    right: -5px;
}
.screen-header__icon{
    position: relative;
    margin-left: 25px;
}
